* {
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  height: 100px;
  background: darkblue;
  color: white;
  display: flex;
}

.title {
  width: 40%;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 40px;
}

.menu {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.contact {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

i {
  margin-right: 20px;
  font-size: larger;
}

ul {
  list-style: none;
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}
